*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.grid-container>*{
    box-shadow: -1px 1px 7px 0px rgb(0,0,0.75);
    border-radius: 4px;
    padding: 10px;
    text-align: center;
}

.grid-container{
    display: grid;
    grid-gap: 10px;
    grid-template:
    "header" 100px
    "navbar" 50px
    "main" auto
    "sidebar" 500px
    "footer" 100px
}

html{
    height: 100%;
}

body{
    font-family: sans-serif;
    font-size: 1.2 rem;
    min-height: 100%;
}

.header{
    grid-area: header;
    background-color: cornflowerblue;
}

.nav{
    grid-area: navbar;
    background-color: indianred;
}

.aside{
    grid-area: aside;
    background-color: white;
}

.main{
    grid-area: main;
    background-color: white;
}

.footer{
    grid-area: footer;
    background-color: cornflowerblue;
}

@media (min-width: 600px){
.grid-container{

    grid-template:
    "header" 100px
    "navbar" 50px
    "main" auto
    "sidebar" 50px
    "footer" 100px /
    200px     auto;
    ;

   }

} 

@media (min-width: 900px){
    .grid-container{
        grid-template:
        "header header header" 100px
        "navbar main sidebar" auto
        "footer footer footer" 100px/
        200px    auto   200px; 
    }
}
